
blt_vs_model/.DS_Store
.DS_Store
*.txt
blt_vs_model.egg-info/PKG-INFO
*.pyc
# Data
blt_vs_model/training_code/data/

# Logs
blt_vs_model/training_code/logs/

# Checkpoints
*.pth

# Numpy logs
*.npz

# Matplotlib plots
*.png

# Python cache
__pycache__/
*.pyc

logs/
data/
*.out
